{% extends 'base.html' %}
{% load static %}
{% block title %} Online Shopping {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<div class="container mt-2 mb-3">
  <div style="margin:30px;display:flex;gap:0px 30px;align-items:center">
    <h3 style="">Filter by Location or By shop</h3>
    <div>
        <select style="padding:5px;border-radius:15px;box-shadow:1px 1px 0px rgba(50, 50, 50, 0.49);border:1px solid gray;" onchange="loc()" id="loc">
            <option>Gutnur</option>
            <option>Viajayawada</option>
            <option>Bhimavaram</option>
            <option>Sattenapalli</option>
        </select>
    </div>
    <div>
        <select style="padding:5px;border-radius:15px;box-shadow:1px 1px 0px rgba(50, 50, 50, 0.49);border:1px solid gray;" onchange="shop()" id="shopName">
            <option>CMR</option>
            <option>IMax</option>
            <option>Trends</option>
        </select>
    </div>
    </div>
  <div class="row">
    {% for product in products %}
    
    <div class="col-lg-4 my-4">
      <div class="card shadow align-items-center" style="width: 20rem; height: 25rem;">
        <img src="/media/{{product.image}}" class="card-img-top" style="width: 170px; height: 260px;" alt="...">
        <div class="card-body">
          <h5 class="card-title" >{{product.name}}</h5>
          <h6 id="{{product.id}}"></h6>
          <h5 class="{{product.id}}">1</h5>
          <hr>
          {% if request.user.is_authenticated %}
          <button data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart"
            style="background-color: #8c5d4f; color: white;">Add To Cart</button>
          <a href="/product_view/{{product.id}}/" class="btn btn-outline-secondary">View</a>
          {% else %}
          <button class="btn" style="background-color: #8c5d4f; color: white;">Login to add the item</button>
          {% endif %}
          <h4 style="display: inline-block; float: right;">&nbsp;₹{{product.price}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block js %}
<script>
 var i=0;
  // document.getElementById("shop").innerHTML=document.getElementById("shopName").value
  // document.getElementById("location").innerText=document.getElementById("loc").value
function loc(){
    //  var l=document.getElementById("loc").value
  // document.getElementById("location").innerText=document.getElementById("loc").value
     for(i=1;i<=6;i++){
  console.log(document.getElementsByClassName(i)[0],"ehehehhe")

      // document.getElementById(i).innerHTML=document.getElementById("shopName").value
  document.getElementsByClassName(i)[0].innerHTML=document.getElementById("loc").value
     }
}
function shop(){
  // var s=document.getElementById("shopName").value
  // document.getElementById("shop").innerText=document.getElementById("shopName").value
  for(i=1;i<=6;i++){
  // console.log(document.getElementById(i))
  console.log(document.getElementById(i),"ehehehhe")

      document.getElementById(i).innerHTML=document.getElementById("shopName").value
  // document.getElementById(i).innerHTML=document.getElementById("loc").value
     }
}
{% if alert %}
  alert("Logout Sucessfull.")
  window.location.href = '/'
{% endif %}
</script>
{% endblock %}